@model HomeApps.Models.TheEventDetails

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MateLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TheEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent) - @Html.DisplayFor(model => model.DateOfEvent)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.EventName) - @Html.DisplayFor(model => model.EventName)
        </dt>

        @foreach (var item in Model.Actions)
        {
            <div>
                @item.Giving to @item.Recving <br/>
                @item.Action
            </div>
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
