@model IEnumerable<HomeApps.TheEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MateLayout.cshtml";
}

<h2>Actions Times</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Date")
        </th>
        <th>
            @Html.Label("Title") - People - Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    {
        List<string> people = item.EventActions.GroupBy(m => m.UsersPeople.PersonName).Select(m => m.Key).ToList();
        people.AddRange(item.EventActions.GroupBy(m => m.UsersPeople1.PersonName).Select(m => m.Key).ToList());



    <tr>
        <td>
            @Html.ActionLink(item.DateOfEvent.ToShortDateString(), "Details", new { id = item.EventID })
        </td>
        <td>
            <div style="padding-bottom:5px">
                @Html.ActionLink(item.EventName, "Edit", new { id = item.EventID }) -  @string.Join(",", people.Distinct()) - @item.Notes
                </div>

                <div style="border-top: 1px solid black;padding-top:5px">
                    <span style="font-weight:bold">Actions:</span>
                    @foreach (var eventAction in item.EventActions)
                    {
                        <span>@eventAction.Action.Name, </span>
                    }
                </div>
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr> 
    }
}

</table>
