@model IEnumerable<HomeApps.TheEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MateLayout.cshtml";
}

<h2>Actions Times</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Date")
        </th>
        <th>
            @Html.Label("Title") - People - Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    {
        List<string> people = item.EventActions.GroupBy(m => m.UsersPeople.PersonName).Select(m => m.Key).ToList();
        people.AddRange(item.EventActions.GroupBy(m => m.UsersPeople1.PersonName).Select(m => m.Key).ToList());



    <tr>
        <td>
            @Html.ActionLink(item.DateOfEvent.ToShortDateString(), "Details", new { id = item.EventID })
        </td>
        <td>
            @Html.ActionLink(item.EventName, "Edit", new { id = item.EventID }) -  @string.Join(",", people.Distinct()) - @item.Notes
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.EventID })
        </td>
    </tr> 
    }
}

</table>
