@model IEnumerable<HomeApps.Store>

@{
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Store Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
            <br />
            @Html.DisplayFor(modelItem => item.StoreAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoreID })
        </td>
    </tr>
}

</table>
