@model HomeApps.List

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GroceryLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GotItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GotItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowOnAllLists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowOnAllLists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
