@model IEnumerable<HomeApps.List>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GroceryLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GotItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowOnAllLists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GotItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowOnAllLists)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListID })
        </td>
    </tr>
}

</table>
