@model IEnumerable<HomeApps.ModelPeople>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GroceryLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllNudes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllBoudoir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllErotica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllNudes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllBoudoir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllErotica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModelPersonID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModelPersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModelPersonID })
        </td>
    </tr>
}

</table>
