@model HomeApps.CameraModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CameraModels.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CameraModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CameraModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CameraModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllNudes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllNudes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllBonjour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllBonjour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllTFP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllTFP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderType.GenderType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderType.GenderType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CameraModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
