@model IEnumerable<HomeApps.CameraModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CameraModels.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CameraModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllNudes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllBonjour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllTFP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderType.GenderType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CameraModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllNudes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllBonjour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllTFP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenderType.GenderType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CameraModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CameraModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CameraModelID })
        </td>
    </tr>
}

</table>
