@model IEnumerable<HomeApps.ChoreTimeType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChoreTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChoreTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoreTimeTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChoreTimeTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoreTimeTypeID })
        </td>
    </tr>
}

</table>
