@model HomeApps.Item

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Grocery List", "Index", "GroceriesItemLists", null)
</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Item</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (ViewBag.CreatedItem == true)
    {
        <div style="color:red">Item Added.</div>
        Model.ItemName = string.Empty;
    }

    <div style="padding-top:10px"></div>

    <div class="row">
        <div class="col-lg-11">  @Html.Label("Item Name", htmlAttributes: new { @class = "control-label" }):    @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })</div>
        <div class="col-md-1">

        </div>
    </div>

    @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })

    <div style="padding-top:20px"></div>

    <div class="row">
        <div class="col-md-11">   @Html.Label("Is MSG Free", htmlAttributes: new { @class = "control-label col-md-2" })  @Html.CheckBoxFor(model => model.IsMSGFree, new { htmlAttributes = new { @class = "form-control" } })</div>

    </div>


    @Html.ValidationMessageFor(model => model.IsMSGFree, "", new { @class = "text-danger" })

    <div style="padding-top:20px"></div>

    <div class="row">
        <div class="col-md-11">
            @Html.Label("Kids Still Like", htmlAttributes: new { @class = "control-label col-md-2" }):
            @Html.CheckBoxFor(model => model.KidsStillLike, new { htmlAttributes = new { @class = "form-control" } })
        </div>



    </div>
    @Html.ValidationMessageFor(model => model.KidsStillLike, "", new { @class = "text-danger" })
    <div style="padding-top:30px"></div>

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<div style="padding-top:30px"></div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>


<script src="~/Scripts/bootstrap.bundle.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
