@model IEnumerable<HomeApps.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")  -  @Html.ActionLink("Grocery List", "Index", "GroceriesItemLists", null,null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
            @if (item.IsMSGFree.Equals(true))
            {
                <span style="color:brown">- MSG Free</span>
            }
            @if (item.KidsStillLike.Equals(false))
            {
                <span style="color:darkgreen">- Kids Dont Like</span>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
