@using HomeApps.Model

@model WeightTrackerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weight For @Model.FirstName</h2>
<br />

<div>In the last 30 days your max weight was <b>@Model.MaxWeight</b>,  min weight was <b>@Model.MiniWeight</b> and avg is <b>@Model.AvgWeight</b></div>

<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="text-align:center">
            @Html.DisplayName("Weight") - @Html.DisplayName("Date") - @Html.DisplayName("Wist")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.BodyWeights) {
    <tr>
        <td style="text-align:center">
            @Html.ActionLink(@item.WeightAmout.ToString(), "Edit", new { id = item.WeightID }) -  @Html.Label(item.WeightData?.ToString("MM/dd/yyyy"))
            @if (item.WistSize != null)
            {
                <span>- @item.WistSize</span>
            }
            @if (item.Notes != null)
            {
                <br /> @item.Notes
            }
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.WeightID })
        </td>
    </tr>
}

</table>
