@model IEnumerable<HomeApps.SocialSite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PhotoCRM.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SocalSiteName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SocalSiteName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SocalTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SocalTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SocalTypeID })
        </td>
    </tr>
}

</table>
