@model List<ItemList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>All Items</h2>
<div>
    <nav class="floating-menu">
        @Html.ActionLink("Grocery List", "Index") -   @Html.ActionLink("Add Item", "Create")
    </nav>
</div>
<table id="ItemList" class="display" style="padding-top:30px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Items")
            </th>
            <th>
                @Html.DisplayName("Got Date")
            </th>
            <th>
                @Html.DisplayName("StoreName")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr name="FullItem{@item.ItemListID}">
                <td class="got-link" data-request-url="@Url.Action("GotItem", "GroceriesItems")" id=@item.ItemListID>

                    
                    @item.Item.ItemName
                    

                    @if (item.NumberOfItems != null)
                    {
                        <span> - </span> @item.NumberOfItems
                    }

                    @if (item.SizeType?.SizeTypeName != null)
                    {
                        <span> - </span> @item.SizeType.SizeTypeName
                    }


                </td>
                <td>
                    @if (item.DateGot.HasValue)
                    {
                        @item.DateGot.Value.ToShortDateString()
                    }

                </td>
                <td>
                    @if (item.Store != null)
                    {
                        <span>@item.Store.StoreName - </span>
                    }

                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemListID })
                </td>
            </tr>
        }
    </tbody>

</table>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="~/Scripts/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('td.got-link').click(OnGotClick);
        $('#ItemList').DataTable({ searching: false, paging: false, info: false, order: [] });
    });

    function OnGotClick(e) {
        var itemID = e.target.id;
        
        
        var div = document.getElementsByName('FullItem{' + itemID + '}');
        
        div[0].outerHTML = "";


        var url = $(this).data('request-url');

        $.post(url, { ItemListID: itemID }, function (data) {


        });
    }

</script>

<style>

    .floating-menu {
        font-family: sans-serif;
        background-color: white;
        padding: 5px;
        ;
        /*width: 130px;*/
        z-index: 100;
        position: fixed;
    }

        .floating-menu a,
        .floating-menu h3 {
            /* font-size: 0.9em;
        display: block;
        margin: 0 0.5em;
        color: white;*/
        }

</style>
