@model List<ItemList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>All Items</h2>

<p>
    @Html.ActionLink("Need Items", "Index")
</p>

<table id="ItemList" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Items")
            </th>
            <th>
                @Html.DisplayName("Got Date")
            </th>
            <th>
                @Html.DisplayName("StoreName")
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr id="FullItem{@item.ItemListID}">
                <div class="row item" style="background-color: border-width:1px;border-style:solid; text-align:center">
                <td>
                    <span class="got-link" data-request-url="@Url.Action("GotItem", "GroceriesItems")" id=@item.ItemListID>

                        @if (item.NumberOfItems != null)
                        {
                            <span>@item.NumberOfItems - </span>
                        }
                        @if (item.SizeType?.SizeTypeName != null)
                        {
                            <span>@item.SizeType.SizeTypeName of</span>
                        }
                        @item.Item.ItemName
                    </span>
                </td>
                <td>
                    @if (item.DateGot.HasValue)
                    {
                        @item.DateGot.Value.ToShortDateString()
                    }

                </td>
                <td>
                    @if (item.Store != null)
                    {
                        <span>@item.Store.StoreName - </span>
                    }

                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemListID })
                </td>
                <td>
                </td>
                </div>
            </tr>
        }
    </tbody>

</table>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="~/Scripts/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('span.got-link').click(OnGotClick);
        $('#ItemList').DataTable({ searching: false, paging: false, info: false });
    });

    function OnGotClick(e) {
        var itemID = e.target.id;


        var div = document.getElementById('FullItem{' + itemID + '}');
        div.outerHTML = "";


        var url = $(this).data('request-url');

        $.post(url, { ItemListID: itemID }, function (data) {


        });
    }

</script>
