@model IEnumerable<HomeApps.UsersPeople>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MateLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Gender.Gender1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Gender1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes) 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UsersPersonID }) |
            @Html.ActionLink("Details", "Details", new { id = item.UsersPersonID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UsersPersonID })
        </td>
    </tr>
}

</table>
