@model IEnumerable<HomeApps.Machine>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MachineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResistanceLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.MachineName, "Edit", new { /* id=item.PrimaryKey */ } ) @item.WorkedOutDate.ToShortDateString()
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.Time)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.Reps)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.Weight)
         </td>
         <td>
             @Html.DisplayFor(modelItem => item.ResistanceLevel)
         </td>
         <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
