@model IEnumerable<HomeApps.EventAction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventPeople.PartyPersonName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventPeople.PartyPersonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActionEventID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActionEventID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActionEventID })
        </td>
    </tr>
}

</table>
