@model IEnumerable<HomeApps.Auto>

@{
    ViewBag.Title = "Index";
    User sessionuser = this.Session["_CurrentUser"] as User;
}

<h2>Autos for @sessionuser.FirstName</h2>

<p>
    @Html.ActionLink("Create New Car", "Create")
</p>
<table class="table">
    <tr>
       <th>
            @Html.DisplayNameFor(model => model.AutoName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AutoName)
        </td>
        <td>
            @Html.ActionLink("Miles", "Index", "Miles", new { id = item.AutoID }, null) |
            @Html.ActionLink("Add Miles", "Create", "Miles", new { id = item.AutoID }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = item.AutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AutoID })
        </td>
    </tr>
}

</table>
