@model IEnumerable<HomeApps.Auto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateModifyLog.CreateModifyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateModifyLog.CreateModifyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AutoID })
        </td>
    </tr>
}

</table>
