<!DOCTYPE html>
@using HomeApps.Models;
@{


    UserViewModel currentuser = this.Session["_CurrentUser"] as UserViewModel;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Shans's Home App</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</head>
<body class="body-content">


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("Home App", "AppList", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            @if (this.Session["_CurrentUser"] != null)
            {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("Auto").Equals(true))
                        {
                            @Html.ActionLink("Gas", "Index", "Autos", null, new { @class = "nav-link" })
                        }
                    </li>
                    <li class="nav-item">
                        @if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("Models").Equals(true))
                        {
                            @Html.ActionLink("Models", "Index", "CameraModels/Index", null, new { @class = "nav-link" })
                        }
                    </li>
                    <li class="nav-item">
                        @if (currentuser.IsAdmin)
                        {
                            @Html.ActionLink("Admin", "Index", "Admin/Index", null, new { @class = "nav-link" })
                        }
                    </li>
                    <li class="nav-item">
                        @if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("Models").Equals(true))
                        {
                            @Html.ActionLink("Event", "Index", "TheEvent/Index", null, new { @class = "nav-link" })
                        }
                    </li>
                    <li class="nav-item">
                        @if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("Models").Equals(true))
                        {
                            @Html.ActionLink("Groceries", "Index", "GroceriesItemLists", null, new { @class = "nav-link" })
                        }
                    </li>
                </ul>
            }
    </nav>


    <div class="container body-content" id="RenderBody">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>


</body>
</html>

<style>
    body {
        padding-top: 0px !important;
    }

    #RenderBody {
        padding-top: 15px;
    }
</style>

