@model HomeApps.Chore

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GrocerieLayouts.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChoreID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
