@model HomeApps.Models.MilesViewModel

@{
    ViewBag.Title = "Index";
    User sessionuser = this.Session["_CurrentUser"] as User;

    Layout = "~/Views/Shared/_GasLayout.cshtml";

}

@if (@Model.Miles.Count().Equals(0))
{
    <h2>No Miles Logged yet!!</h2>

    <div>
        @Html.ActionLink("Back to Auto List", "Index", "Autos")
    </div>

}


else
{
    <h2>Miles for @sessionuser.FirstName - @Model.AutoName</h2>

    <div id="HideShowSummaryMiles" style="padding-bottom:10px;">Hide/Show SummaryMiles</div>

    <div id="SummaryMiles">

        <div style="padding-bottom:10px;">
            Since <span class="font-weight-bold">@Model.Miles.First().GasDate.ToShortDateString()</span> you have drove
            <span class="font-weight-bold">@Model.TotalMiles.ToString("N0")</span> miles and used <span class="font-weight-bold">@Model.TotalGallons.ToString("N0")</span> gallons of gas and MPG are <span class="font-weight-bold">@Model.TotalMPG.ToString("#")</span>
        </div>

        <div>
            Since <span class="font-weight-bold">@Model.Date30.ToShortDateString()</span> you have drove
            <span class="font-weight-bold">@Model.Day30MaxTotalMiles.ToString("N0")</span> miles and used <span class="font-weight-bold">@Model.Day30MaxTotalGallons.ToString("N0")</span> gallons of gas and MPG are <span class="font-weight-bold">@Model.Day30TotalMPG.ToString("N0")</span>
        </div>
        <br />
    </div>

    <br/>


    <p>
        @Html.ActionLink("Add New Miles", "Create", new { id = Model.Miles.First().AutoID }) - @Html.ActionLink("Back to Auto List", "Index", "Autos")
    </p>
    <table class="table">
        <tr class="Header">
            <th style="width:25%">
                <div class="row">
                    @Html.DisplayName("Date")
                </div>
                <div class="row">
                    @Html.DisplayName("Station")
                </div>
            </th>

            <th style="width:25%">
                <div class="row">
                    @Html.DisplayName("Gallons")
                </div>
                <div class="row">
                    @Html.DisplayName("Price")
                </div>
            </th>

            <th style="width:25%">
                <div class="row">
                    @Html.DisplayName("MPG")
                </div>
                <div class="row">
                    @Html.DisplayName("Total Miles")
                </div>
            </th>

            <th style="width:25%">
                <div class="row">
                    @Html.DisplayName("Trip")
                </div>
                <div class="row">
                    @Html.DisplayName("Gas Type")
                </div>

            </th>

        </tr>

        @foreach (var item in Model.Miles.OrderByDescending(m => m.GasDate).Take(20))
        {
            <tr>
                <td>
                    <div class="row">
                        @Html.ActionLink(item.GasDate.ToShortDateString(), "Edit", new { id = item.MilesID })
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.Station.Name)
                    </div>
                </td>
                <td>
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.TotalGallons)
                    </div>
                    <div class="row">
                        @item.TotalPrice.ToString("C")
                    </div>

                </td>
                <td>
                    <div class="row">
                        @item.MPG.ToString("#")
                    </div>
                    <div class="row">
                        @item.TotalMilesDriven.ToString("#,##0")
                    </div>
                <td>
                    <div class="row">
                        @item.MilesDrove.ToString("#")
                    </div>
                    <div class="row">
                        @item.Type.TypeName
                    </div>
                </td>
                </td>
            </tr>

            Model.LastMiles = item.TotalMilesDriven;


        }

    </table>
}


<style>
    .row {
        display: block !important;
        text-align: center;
    }

    #SummaryMiles {
        padding-bottom: 10px;
        display: none;
        border-bottom: solid;
        border-bottom-width: thin;
        border-bottom-color: black;
    }

</style>


<script>
    $("#HideShowSummaryMiles").click(function () {
        $("#SummaryMiles").toggle();
    });
</script>