@model IEnumerable<HomeApps.Mile>

@{
    ViewBag.Title = "Index";
    User sessionuser = this.Session["_CurrentUser"] as User;

    decimal MPG = 0;
    decimal LastMiles = 0;

    //decimal MaxMiles = Model.Max(m => m.TotalMilesDriven);
    //decimal MinMiles = Model.Min(m => m.TotalMilesDriven);
    //decimal TotalGallons = Model.Sum(m => m.TotalGallons);

    //decimal TotalMiles = MaxMiles - MinMiles;
}

@if (@Model.Count().Equals(0))
{
    <h2>No Miles Logged yet!!</h2>

    <div>
        @Html.ActionLink("Back to Auto List", "Index","Autos")
    </div>

}


else
{
    <h2>Miles for @sessionuser.FirstName - @Model.First().AutoID</h2>

    <p>
        @Html.ActionLink("Create New", "Create", new { id = Model.First().AutoID }) - @Html.ActionLink("Back to Auto List", "Index", "Autos")
    </p>
    <table class="table">
        <tr class="Header">
            <th style="width:33%">
                <div class="row">
                    @Html.DisplayNameFor(model => model.GasDate)
                </div>
                <div class="row">
                    @Html.DisplayNameFor(model => model.Station.Name)
                </div>
            </th>
            <th style="width:33%">
                <div class="row">
                    @Html.DisplayNameFor(model => model.TotalGallons)
                </div>
                <div class="row">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </div>

            </th>

            <th style="width:33%">
                <div class="row">
                    @Html.DisplayNameFor(model => model.TotalMilesDriven)
                </div>
                <div class="row">
                    @Html.DisplayName("MPG")
                </div>

            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        @Html.ActionLink(item.GasDate.ToShortDateString(), "Edit", new { id = item.MilesID })
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.Station.Name)
                    </div>
                </td>
                <td>
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.TotalGallons)
                    </div>
                    <div class="row">
                        @{
                            if (LastMiles > 0)
                            {
                                MPG = (item.TotalMilesDriven - LastMiles) / item.TotalGallons;
                            }
                        }
                        @Html.Label(MPG.ToString("0"))
                    </div>
                  
                </td>
                <td>
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.TotalMilesDriven)
                    </div>
                  
                </td>
            </tr>

            LastMiles = item.TotalMilesDriven;


        }

    </table>
}


<style>
    .row{
        display:normal !important;
        text-align:center;
    }
</style>